$color-green: #84b414;
$color-green-link: rgba(132, 180, 20, .5);
$color-pink: #e10078;
$color-pink-disabled: rgba(136, 88, 114, .5);
$color-gray: #333;

$color-pink-active: #b1025f;

$color-error: #cf2e2e;

